# Rename this file to .env
# DO NOT put quotes around values unless needed.

COMPOSIO_API_KEY=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.6
DISPATCHER_USER_ID=dispatcher_user_001
COMPOSIO_PROJECT_NAME=Dispatcher 2.0
